__pycache__
*.py[cod]
*$py.class
.Python
lib
lib64
parts
sdist
var
wheels
pip-wheel-metadata
share/python-wheels
develop-eggs
eggs
.eggs
*.egg-info
*.egg
MANIFEST
.installed.cfg
downloads
docs/_build
build
dist
bin
.buildozer
cache
.cache
temp
.temp
.pytest_cache
.coverage
.DS_Store
test.py
